<tr bgcolor=ffffff>
    <td>
        {contentbylabel:labels=dogs,cats}<br/>
        {contentbylabel:labels=dogs,cats|space=PETS}<br/>
        {contentbylabel:labels=dogs,cats|type=page,blogpost}<br/>
        {contentbylabel:labels=dogs,cats|showLabels=false|showSpace=false}<br/>
        {contentbylabel:labels=dogs,cats|excerpt=true}<br/>
        {contentbylabel:labels=+dogs,+cats}<br/>
        {contentbylabel:labels=+lebowski,+bowling,-walter|space=@all|type=page,-blogpost}<br/>
    </td>

    <td>
        <p>
            $action.getText('contentbylabel.desc')
            <ul>
                <!--<li>-->
                    <!--key - $action.getText('contentbylabel.key.desc')-->
                <!--</li>-->
                <li>
                    type - $action.getText('type.criteria.param.desc')
                </li>
                <li>
                    showLabels - $action.getText('contentbylabel.showlabels.desc')
                </li>
                <li>
                    showSpace - $action.getText('contentbylabel.showspaces.desc')
                </li>
                <li>
                    title - $action.getText('contentbylabel.title.desc')
                </li>
                <li>
                    max/maxResults - $action.getText('contentbylabel.maxresults.desc')
                </li>
                <li>
                    excerpt - $action.getText('contentbylabel.excerptType.desc')
                </li>
                <!--<li>
                    operator - $action.getText('contentbylabel.operator.desc')
                </li>-->
                <li>
                    space/spaces - $action.getText('space.criteria.param.desc')
                </li>
                <li>
                    label/labels - $action.getText('label.criteria.param.desc')
                </li>
                <li>
                    sort - $action.getText('sort.param.desc')
                </li>
                <li>
                    reverse - $action.getText('reverse.param.desc')
                </li>
            </ul>
        </p>
    </td>
</tr>
