.blog-title-mobile {
    display: block;
    color: #707070;
    position: relative;
}

.blog-post-list li.blog-item {
    padding: 5px 0;
}

li.blog-item div.blog-item-creator {
    font-size: 12px;
    margin-left: 21px;
}

.icon, .icon-container {
    background: no-repeat left center;
    background-size: 16px 16px;
    display: inline-block;
    font-size: 0;
    height: 16px;
    width: 16px;
    text-align: left;
    text-indent: -9999em;
    vertical-align: text-bottom;
    left: 2px;
    top: 4px;
}
