@blankExperienceBorderRadius: 5px;
@blankExperienceTextColor: #707070;

.macro-blank-experience {
    -webkit-border-radius: @blankExperienceBorderRadius;
    -moz-border-radius: @blankExperienceBorderRadius;
    border-radius: @blankExperienceBorderRadius;
    border: 1px solid #cccccc;
    min-height: 125px;
    padding: 15px 200px 20px 20px;

    p {
        color: @blankExperienceTextColor;
    }

    .create-post {
        margin-top: 15px;
    }
}

.columnLayout {
    .cell.aside,
    &.threeColumns,
    &.three-equal,
    .sidebars {
        .macro-blank-experience {
            background: none;
            padding: 15px 20px 20px 20px;
        }
    }
}
